
#form {
  margin: 4rem;

  display: flex;
  gap: .75rem;
}

#form input {
  height: 3rem;
  width: 28.125rem;

  background-color: #202024;
  color: #fff;

  border: none;
  border-radius: .313rem;

  padding: 0 .75rem;

  font-size: 1rem;
}

#form input:focus {
  outline: .125rem solid #8257e5;
}

#form input:valid {
  background-color: #202024;
}

#form button {
  height: 3rem;
  width: 3rem;

  border: none;
  border-radius: .313rem;

  background-color: #8257e5;

  cursor: pointer;

  transition: all .2s;
}

#form button:hover {
  background-color: #633bbc;
}

#form button i {
  font-size: 1.5rem;
  font-weight: bold;

  color: #fff;

  display: flex;
  justify-content: center;
}
